name: Security Scan

on:
  schedule:
    - cron: '0 0 * * 0'  # u0417u0430u043fu0443u0441u043a u043au0430u0436u0434u043eu0435 u0432u043eu0441u043au0440u0435u0441u0435u043du044cu0435 u0432 00:00 UTC
  workflow_dispatch:

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4

      - name: Build image
        run: docker build -t typesense:local .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # master
        with:
          image-ref: 'typesense:local'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v3
        with:
          sarif_file: 'trivy-results.sarif'
